<app-navbar (navbarEvent)="recieveNav($event)"></app-navbar>
<div *ngIf="navRole === '/manager-home'">
  <div *ngIf="navRoute === 'Certificates'">
    <div id="content_grid">
      <div *ngFor="let cert of certData">
        <app-cert-card [cert]="cert"></app-cert-card>
      </div>
      <app-create-card></app-create-card>
    </div>
  </div>

  <div *ngIf="navRoute === 'Requests'">
    <div id="content_grid">
      <div *ngFor="let req of reqData">
        <app-view-card [req]="req"></app-view-card>
      </div>
    </div>
  </div>

</div>

<div *ngIf="navRole === '/home'">

  <div *ngIf="navRoute === 'Certificates'">
    <div id="content_grid">
      <div *ngFor="let cert of certData">
        <app-apply-card [cert]="cert"></app-apply-card>
      </div>
    </div>
  </div>

  <div *ngIf="navRoute === 'Requests'">
    <div id="content_grid">
      <div *ngFor="let req of reqData">
        <app-edit-card [req]="req"></app-edit-card>
      </div>
    </div>
  </div>

</div>
