<app-navbar></app-navbar>
<div id="content_grid">

    <!--

        Cardurile astea apar in sectiunea "certifications" pentru clienti

        <app-apply-card></app-apply-card>

    -->

    <!--

        Cardurile astea apar in sectiunea "certifications" pentru manageri

        <app-create-card></app-create-card>
        <app-cert-card></app-cert-card>

    -->

    <!--

        Cardurile astea apar in sectiunea "requests" pentru useri

        <app-edit-card></app-edit-card>

    -->

    <!--

        Cardurile astea apar in sectiunea "requests" pentru manageri

        <app-view-card></app-view-card>

    -->

</div>