<div class="form_comp">
  <div class="form_wrapper">
    <span class="form_title">Welcome back!</span>
    <input type="text" class="form_input" placeholder="Email">
    <input type="text" class="form_input" placeholder="Password">
    <span class="form_disclaimer">Don't have an account? <span class="form_link"
        (click)="toRegister()">Register</span>.</span>
    <button class="form_submit">Login</button>
    <button class="form_submit" (click)="loginManager()">Login As Manager</button> <!-- role = 0 as Manager-->
    <button class="form_submit" (click)="loginUser()">Login As User</button> <!-- role = 1 as User-->
  </div>
  <div class="form_cover"></div>
</div>
