<div class="card_line">
  <div class="card_title">
    {{cert.title}}
  </div>
  <div class="card_quarter">
    {{cert.quarter}}
  </div>
</div>
<div class="card_line">
  <div class="card_category">
    {{cert.category}}
  </div>
  <div class="card_price">
    ${{cert.cost}}
  </div>
</div>
<div class="card_footer">
  <button class="delete_button hoverable" (click)="openDeleteModal(cert.id)">Delete</button>
  <button class="edit_button hoverable" (click)="openEditCertModal(cert.id,cert)">Edit</button>
</div>
