<div class="card_line">
    <div class="card_title">
        Microsoft Office Certification Microsoft Office Certification Microsoft Office Certification
    </div>
    <div class="card_quarter">
        Q1
    </div>
</div>
<div class="card_line">
    <div class="card_category">
        Microsoft Office Certification
    </div>
    <div class="card_price">
        $ 230.99
    </div>
</div>
<div class="card_footer">
    <button class="apply_button hoverable" (click)="openApplyModal()">Apply for certification</button>
</div>