<div class="form_comp">
    <div class="form_wrapper">
        <span class="form_title">Join our team!</span>
        <input type="text" class="form_input" placeholder="Name">
        <input type="text" class="form_input" placeholder="Email">
        <input type="text" class="form_input" placeholder="Password">
        <select class="form_input">
            <option value="EMP" selected>Employee</option>
            <option value="MNG">Manager</option>
        </select>
        <span class="form_disclaimer">Already have an account? <span class="form_link" (click)="toLogin()">Login</span>.</span>
        <button class="form_submit">Register</button>
    </div>
    <div class="form_cover"></div>
</div>