<form>
  <p class="modal_title">Create certification</p>
  <input type="text" class="modal_input" name="title" placeholder="Title" [(ngModel)]="newCert.title" required>
  <input type="text" class="modal_input" name="category" placeholder="Category" [(ngModel)]="newCert.category" required>
  <select name="quarter" class="modal_input" required [(ngModel)]="newCert.quarter">
    <option value="Q1">Q1</option>
    <option value="Q2">Q2</option>
    <option value="Q3">Q3</option>
    <option value="Q4">Q4</option>
  </select>
  <input type="number" class="modal_input" name="cost" [(ngModel)]="newCert.cost" placeholder="Price" required>
  <button class="modal_submit hoverable" (click)="addCertificate()" required>Save</button>
  <button class="modal_cancel hoverable" (click)="close()">Cancel</button>
</form>
